*{
    margin:0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
 /* Uility Class  */
.margin{
    margin-bottom: 100px;
}
header{
    height: 50vh;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    margin-bottom: 180px
}
header h1{
    color: white;
    padding-top: 100px;
    font-size: 50px;
}
header div{
    position: absolute;
    bottom: -25%;
    width: 100%;
}
header div img{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
}
header div h2{
    margin-bottom: 10px;
}

main{
    width: 1140px;
    margin: auto;
}
main ul{
    list-style: none;
}
main ul *{
    margin: 10px 0px;
}
main ul h2{
    font-size: 32px;
}
main ul h3{
    font-size: 24px;
}
main ul p{
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 27px;
}
main div{
    width: 100%;
    text-align: center;
}